#fig {
    margin: auto;
}

#expound {
    background-color: #eef;
    border-top: 1px dotted #88a;
    padding: 10px;
}

#links {
    margin-top: 1em;
    text-align: center;
    font-size: 120%;
}

table {
    border-spacing: 10px !important;
}

td {
    border: 2px solid #ddd;
    text-align: center !important;
}
