<!DOCTYPE html>
<html>
    <head>
    <title>{{ page.title }} | [adjective][species]</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link rel="icon" type="image/png" href="/images/favicon.png" />
        {% if page.additionalHeader %}{{ page.additionalHeader }}{% endif %}
    </head>
    <body>
        <div class="topbar">
            <div class="topbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="http://adjectivespecies.com">[adjective][species]</a>
                    <ul class="nav">
                        <li><a href="http://survey.adjectivespecies.com">Surveys</a></li>
                        <li class="active"><a href="http://vis.adjectivespecies.com">Visualizations</a></li>
                        <li><a href="http://twitter.com/adjspecies">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <header>
            <a href="http://adjectivespecies.com"><img src="/images/as-header.png" /></a>
        </header>
        <div style="float:right;position:relative;text-align:right;margin-top:0;">
        <a href="https://github.com/adjspecies/vis.adjectivespecies.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
        </div>
        <article>
            <h1>{{page.title}}</h1>
            <section>
                {{ content }}
            </section>
        </article>
        <footer>
            Content &copy; [adjective][species], 2011 - 2013 under the CC BY-NC-SA (Attribution - NonCommercial - ShareAlike) license<br />
        </footer>


<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.makyo.io/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '4']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->


    </body>
</html>
